.featuredProperties{
    width:100%;
    max-width:1024px;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.featuredProp__Items{
    cursor: pointer;
    border-radius: 10px;
    flex:1;
    background: white;
}
.featuredProp__Img{
    width:100%;
    height:200px;
}
.featuredProp__details{
    padding:0.7rem;
}
.fp_details_first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fp__Name{
    font-weight: 600;
    line-height: 1.2;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
.fp__Price{
    color:green;
    font-size: 0.8rem;
}
.fp__Location{
    margin-top: -0.1rem;
    font-size: 0.7rem;
    font-weight: 600;
    color:#5f6061;
    padding-bottom: 0.5rem;
}
.fp__Rating{
    padding-top: 0.5rem;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap:0.2rem;
}
.rating__icon{
    font-size: 1rem;
    color:#ffcd3c;
}
.rating{
    font-size: 0.8rem;
    font-weight: 600;
}